body {
    --bg-opacity: 1;
    background-color: #e0eaec;
    background-color: rgba(224, 234, 236, var(--bg-opacity));
}

#nounours {
    display: block;
    width: 90%;
    min-width: 5rem;
    max-width: 5rem;
    height: 5rem;
    margin: auto;
    padding: 0.5rem;
}

#flex_container1 {
    background-color: #fdcdc0;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    font-weight: bolder;
    margin-top: 0%;
    margin-left: 25%;
    padding: 1rem;
    text-align: center;
    width: 45%;
}

#flex_container2 {
    display: flex;
    flex-direction: column;
    width: 55%;
    background-color: mediumseagreen;
    border-radius: 2rem;
    margin: 0.5rem;
    padding: 0.2rem;
    font-size: 1rem;
    font-weight: lighter;
}

#text1 {
    margin: 1rem;
}

#flex-container3 {
    flex-direction: column;
    display: flex;
    width: 30rem;
    flex-wrap: wrap;
    align-content: center;
}

#word {
    flex-direction: column;
    background-color: #7490fe;
    align-self: flex-start;
    padding: 1rem;
    border-radius: 2rem;
    font-weight: bolder;
    font-size: larger;
    color: black;
    width: min-content;
    margin: auto;
}

.button {
    display: inline-block;
    background-color: #c0defd;
    font-size: 3.5rem;
    align-self: auto;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 0.5rem;
    width: 7rem;
}

#comments {
    font-size: 2rem;
    font-weight: bold;
    margin: auto;
    height: 1rem;
}

#score-section {
    display: block;
    flex-direction: initial;
    background-color: salmon;
    font-size: 2rem;
    font-weight: inherit;
    align-self: flex-start;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 2rem;
    color: white;
    text-decoration: none;
    width: 20%;
}

.href1 {
    background-color: rgb(6, 145, 98);
    align-self: center;
    padding: 1rem;
    margin: 0rem 30rem 10rem 40rem;
    border-radius: 2rem;
    width: 10%;

}

.href1 > a {
    font-weight: bolder;
    font-size: larger;
    color: white;
    text-decoration: none;
}

.href2 {
    background-color: rgb(255, 255, 255);
    align-self: flex-start;
    padding: 0.5rem;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 2rem;
    box-shadow: 5px 10px #c0defd;
    width: 5%;
}

.href2 > a {
    font-weight: bold;
    font-size: small;
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 375px) {
    .href2 {
        background-color: rgb(255, 255, 255);
        align-self: flex-start;
        padding: 0.5rem;
        margin: 1rem 1rem 1rem 0.2rem;
        border-radius: 2rem;
        box-shadow: 5px 10px #c0defd;
        width: 20%;
    }

    #flex_container1 {
        background-color: #fdcdc0;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        font-size: 1.1rem;
        font-weight: bolder;
        margin: auto;
        padding: 1rem;
        text-align: center;
        width: 80%;
    }

    #flex_container2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: mediumseagreen;
        border-radius: 1rem;
        position: center;
        margin: 0.5rem 0rem 1rem 0rem;
        padding: 0.1rem;
        font-size: 0.5rem;
        font-weight: lighter;
        text-align: center;
    }

    #text1 {
        margin: 0.1rem;
    }

    #flex-container3 {
        flex-direction: column;
        display: flex;
        width: 22.7rem;
        flex-wrap: wrap;
        align-content: center;
    }

    #word {
        flex-direction: column;
        background-color: #7490fe;
        align-self: flex-start;
        padding: 1rem;
        border-radius: 2rem;
        font-weight: bolder;
        font-size: large;
        color: black;
        width: min-content;
        margin: auto;
    }

    #score-section {
        display: block;
        flex-direction: initial;
        background-color: salmon;
        font-size: 2rem;
        font-weight: inherit;
        align-self: center;
        padding: 0.5rem;
        margin: 0.5rem;
        border-radius: 2rem;
        color: white;
        text-decoration: none;
        width: 89%;
    }

    .href1 {
        background-color: rgb(6, 145, 98);
        align-self: flex-start;
        padding: 1rem;
        margin: 5rem 1rem 1rem 0.2rem;
        border-radius: 2rem;
        width: 40%;

    }

}