<p>"Masculin (m) ou féminin (f) ? Devinez le genre,
  entrez votre choix"</p>
<p id="word"></p>
<div id="gen"></div>
<div>
  <button onclick="gue( )">m</button>
  <button onclick="gue( )">f</button>
</div>
<tr><td><p> <div id="answer"></div> </p></td></tr>
</tr>

<script>
    let words = JSON.parse('<%=@words.to_json.html_safe %>');
    let word = Object.keys(words)[0];
    document.getElementById("word").innerHTML = word;
    let number_gender = Object.values(words)[0];
    let guess;
    let score = 0;
    let gender;


console.log(3)
    function gen() {

        if (number_gender.indexOf("m")) {
            gender = 'm';
        } else {
            gender = 'f';
        }
    }
console.log(5)
        function gue() {

        if (guess == gender) {

            document.getElementById("answer").innerHTML = "bravo";
            score += 1;
            console.log(8)
        } else {
            document.getElementById("answer").innerHTML = "perdu";
        }
console.log(1)
    }

</script>
<br/>
<a href=<%= genders_final_score_path %>>votre score est </a>
<p>&copy; nanou déc. 2020</p>
