<p>"Masculin (m) ou féminin (f) ? Devinez le genre,
  entrez votre choix"</p>
<p id="demo">&copy; nanou déc. 2020</p>

<script>
  let words = JSON.parse('<%=@words.to_json.html_safe %>');
  let word= Object.keys(words)[0];
  document.getElementById("demo").innerHTML = word;

</script>
<br/>
<a href=<%=genders_final_score_path %>>votre score est </a>