<p>"Masculin (m) ou féminin (f) ? Devinez le genre,
  entrez votre choix"</p>
<p id="word"></p>
<button id='guess_f' id="gender" data-order="1">f</button>
<button id='guess_m' id="gender" data-order="2">m</button>
<p id="comments"></p>

<script>
    let words = JSON.parse('<%=@words.to_json.html_safe %>');
    let word = Object.keys(words)[0];
    document.getElementById("word").innerHTML= word;
    let guessF = document.getElementById('guess_f')
    let guessM = document.getElementById('guess_m')
    let commentSection=document.getElementById('comments')
    let guess = [guessF, guessM];
        let number_gender= Object.values(words)[0];
        if (number_gender.indexOf("m")) {
            gender = 'm';
        } else {
            gender = 'f';
        }
        console.log(1)
    guess.forEach((gue) => {
        gue.addEventListener('click',function (event) {
            let clickedElement=event.target;
            if (guess === gender) {
                let clickedElementDataset=clickedElement.dataset;
                commentSection.innerText=`ta réponse est juste ${JSON.stringify(clickedElementDataset)} `;
console.log(2)
            } else {
                let clickedElementDataset=clickedElement.dataset;
                commentSection.innerText=`ta réponse est fausse ${JSON.stringify(clickedElementDataset)}`;
        console.log(3)
            }

        })
    })
</script>
<br/>
<a href=<%= genders_final_score_path %>>votre score est </a>
<p>&copy; nanou déc. 2020</p>
