<p>"Masculin (m) ou féminin (f) ? Devinez le genre,
  entrez votre choix"</p>
<p id="word"></p>
<button id='guess_f' data-gender="f" data-order="1">f</button>
<button id='guess_m' data-gender="m" data-order="2">m</button>
<p id="comments"></p>
<p id="score"></p>
<script>
    let words = JSON.parse('<%=@words.to_json.html_safe %>');
    let word = Object.keys(words)[0];
    document.getElementById('word').innerHTML = word;
    let guessF = document.getElementById('guess_f')
    let guessM = document.getElementById('guess_m')
    let commentSection = document.getElementById('comments')
    let guessGenders = [guessF, guessM];
    let characteristic = Object.values(words)[0];
    let gender;
    let score = 0;


    if (characteristic.includes("f")) {
        gender = "f";
    } else {
        gender = "m";
    }
    guessGenders.forEach((guessGender) => {
        guessGender.addEventListener('click', (event) => {
            let clickedElement = event.target;
            let clickedElementDataset = clickedElement.dataset;
            let guess = clickedElementDataset.gender;
            window.clickedElementDataset = clickedElementDataset;

            if (guess === gender) {
                 commentSection.innerText = `Bravo`;
                score += 1
                document.getElementById('score').innerHTML = score;
            } else {
                commentSection.innerText = `Perdu`;
            }
            setTimeout(function() {
                document.getElementById('comments').innerHTML = "";
                document.getElementById('score').innerHTML = "";
            },1000);


        })

    })

</script>
<br/>
<a href=<%= genders_final_score_path %>>votre score est </a>
<p>&copy; nanou déc. 2020</p>
