<h1> Le genre des noms communs</h1>
<br/>
<br/>
<p> Testez vos connaissances</p>
<p>ou</p>
<p>Entrainez-vous</p>
<p>sur le genre des noms communs: masculin ou féminin</p>
<br/>
<br/>
<a href=<%= genders_guess_gender_path %>>Lancez le quiz </a>


